/* CSS DOC - PROJECT CARD  */

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

/* BODY CONFIG */

body {
    font-family: 'Montserrat';
    color: white;
    background-color: #0B1726;
    overflow-x: hidden;
}

/* KEYFRAMES */

/* TOPHEADER */

#top-header {
    height: 10vh;
    width: 100%;
    background: #111D40;
    color: #F2F2F2;
    justify-content: center;
    align-items: center;
    display: flex;
}

#top-header h1 {
    font-weight: 200;
}

/* MAIN CONTENT */

#background-content {
    height: 135vh;
}

#card-flexbox1 {
    top: 15%;
}

#card-flexbox2 {
    top: 65%;
}

#card-flexbox3 {
    top: 110%;

}

.card-flexbox {
    height: 100%;
    width: 100%;
    overflow: visible;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    justify-content: space-between;
}

.card-section {
    background-color: #13F2F2;
    box-shadow: -1vh -1vh#038C8C;
    margin: 2.5vh auto;
    border-radius: 2.5vh;
    width: min-content;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 40vh;
    overflow: hidden;
    transition: all .3s ease-in-out;
    z-index: 0;
    width: 17.5%;
}

.card-section::before:hover {
    transition-duration: .5s;
    box-shadow: -1vh -1vh #038C8C;
    background-color: #13F2F2;
    height: 40vh;
    z-index: 2;
    scale: 1;
}

.card-section:hover{
    transform-origin: ;
    border-radius: 3vh;
    box-shadow: 0 0 5px#00000025;
    scale: 1.1;
    z-index: 2;
    background-color: #007b80;
    height: 80vh;
    transition-duration: .5s;
}

.card-section h2 {
    margin: 1vh 0;
    font-size: 3vh;
}

.card-section p{
    font-size: 2vh;
    scale: 0.95;
    margin: 0;
    text-align: justify;
    margin: 2vh;
    padding: 1vh;   
    transition-duration: 0.25s;
}

.card-section::before:hover{
    background-color: transparent;
    scale: .95;
}

.card-section p:hover{
    background-color: #FFFFFF25;
    mask-image: none;
    transition-duration: 0.25s;
    border-radius: 5%;
    scale: 1;
}

.card-figure {
    margin: 3vh 3vh 0 3vh;
}

.card-figure img{
    box-shadow: -1vh -1vh #038C8C;
    height: 30vh;
    width: 30vh;
    border-radius: 2.5vh;
}

/* BACKGROUND IMAGES */

/* CARDS ANIMATION HOVER */

@keyframes fadein {
    from{
        mask-image: linear-gradient(180deg, black 50%, transparent 70%);
    }

    to{
        mask-image: none;
    }
}

@keyframes glowup {
    
    0%{
        height: 80%;
    }

    100%{
        height: max-content;
    }
    
}

/* BOTTOM FOOTER */

#bottom-footer {
    height: 15vh;
    position: absolute;
    width: 100%;
    background: #111D40;
    color: invert();
    bottom: -65%;
}
